.body{
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: repeat(7 1fr);
    gap: 10px;
    background-color: pink;
}
.display{
    background-color: blue;
    grid-row: span 1;
    grid-column: span 4;
    border-radius: 15px;
    font-size: 50px;
}
.displayParagraph{
    color: white;
    text-align: right;
    height: 20px;
    padding-right: 10px;
}
.d{
    background-color: gray;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}
.d:hover{
    background-color: black;
}
.d:active{
    background-color: darkblue;
}
