
.container{
    display: grid;
    min-width: 50%;
    min-height: 90%;
    gap: 10px;
    padding: 5px;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: repeat(6 1fr);
    background-color: black;
    border-radius: 10px;
}
.leftOperand{
    text-align: end;
    padding-right: 10;
    font-size: x-large;
}
.rightOperand{
    text-align: end;
    padding-right: 10;
}
.operator{
    padding-right: 10;
}
.equals{
    padding-right: 10;
}
.display{
    grid-column: span 4;
    grid-row: span 1;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: xx-large;
}
.b{
    grid-column: span 1;
    grid-row: span 1;
    background-color: rgb(66, 66, 66);
    color: white;
    margin: 10px;
    border-radius: 15px;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}
.b:active{
    background-color: darkgray;
    color: black;
}
#ac{
    background-color: rgb(204, 9, 9);
}
#ac:active{
    background-color: red;
}
#equals{
    background-color: green;
    color: rgb(255, 0, 0);
}