body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

@media all and (orientation:portrait) {
    .clock_outer_shell{
        height: 80vw;
        width: 80vw;
    }
}
@media all and (orientation:landscape) {
    .clock_outer_shell{
        height: 80vh;
        width: 80vh;
    }
}
.clock_outer_shell{
    border: 20px solid darkblue;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.center_dot{
    border: 20px solid darkblue;
    border-radius: 100%;
    position: absolute;
}
.hr_hand{
    position: absolute;
    height: 60%;
}
.min_hand{
    position: absolute;
    height: 80%;
}
.sec_hand{
    position: absolute;
    height: 90%;
}