body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: black;
}

.container {
  margin-top: 50px;
}

h1 {
  font-size: 28px;
}
#score-card{
  color: white;
}
#game-board {
  width: 400px;
  height: 400px;
  border: 2px solid #000000;
  margin: 20px auto;
  position: relative;
  background-color: white;
}

.snake {
  width: 20px;
  height: 20px;
  background-color: green;
  border: 2px solid white;

  position: absolute;
  border-radius: 50%;
}
.food {
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
}
.btn_container{
  background-color: darkgray;
  width: 90%;
  border-radius: 10px;
  margin: 2px;
}
.cntrl{
  background-color: black;
  color: white;
  margin: 5px;
  padding: 10px;
  min-width: 20%;
  border-radius: 10px;
  border: 0px ;
}
.cntrl:active{
  background-color: darkgray;
}
.btn{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.btn:active{
  background-color: darkgray;
}